
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  
}
body {
  color: #000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.jumbotron{
  background-color: #333;
}
.thumbnail{
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,.3);
  box-shadow: 0 0 30px rgba(0,0,0,.3); 
  background-color: transparent;
  border: none;
  
}
.prs-navbar{
  margin-bottom: 0px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}