$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
//Custom Fonts
@font-face {
  font-family: bankGothic;
  src: url('../fonts/BankGothic/bankgthl.ttf');
}
$font-stack:    bankGothic, Helvetica, sans-serif;

$font-color: #bdb6a2;
$font-roll: #DB7D26;
$line-color: #7f704d;
$orange-abg: rgba(248,155,18,.8);
$orange-abgb: rgba(248,155,18,.2);
$black-abg: rgba(0,0,0,.3);



body{
  color: $font-color;
  font: 100% $font-stack;
  background: url('../images/pixelRockTempBG.jpg');
  background-size: cover;
  .container{

  }
  a{
    color:$font-roll;
  }
  .container.pixel-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    height: 100vh;
    background: rgba(0,0,0,.2);
    border-left: 1px solid $line-color;
    border-right: 1px solid $line-color;
    
    header{
      height: 60px;
      width: 100%;
      padding: 5px;
      margin: 0px;
      border-bottom: 1px dotted $line-color;
      
      #logo{
        padding-left: 10px;
        width: 150px;
      }
      #version{
        /*padding: 40px 25px;*/
        float: right !important;
        text-align: right;
      }
    }
    nav{
      height: 30px;
      width: 100%;
      border-bottom: 1px dotted $line-color;
      background: url('../images/navBG.png');
      background-size: cover;
      .navBg {
        position:absolute;
        width:116px;
        height:17px;
        margin-top:-8px;
        margin-left: 15px;
        background: $orange-abg;
        border:1px solid $line-color;
        box-shadow: inset 0px 0px 5px black;
        z-index:-5;
      }
      ul{
        padding-top:4px;
        padding-left:12px;
        a{
          color:$font-roll;
          li{
            width: 122px;
            height: 21px;
            padding-top:5px;
            float:left;
            background: url('../images/button.svg');
            background-size: cover;
            list-style-type:none;
          }
          li:hover{
            color:$font-color;
            cursor: pointer;
          }
          li.active{
            color:$font-color;
          }
        }
      }
    }
    .bread-crumbs{
      height: 30px;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px dotted $line-color;
      background: $black-abg;
      background-size: cover;
    }
    .pixel-container{
      background: $black-abg;
      border: 1px solid $line-color;
      height: 30%;
    
      .pixel-cont-head{
        width: 100%;
        height: 30px;
        background: $black-abg;
        padding: 10px;
        border-bottom: 1px dotted $line-color;
        .less-padd{
          margin-top:-5px;


        }
      }
      .pixel-cont-area{
        padding: 10px;
        .portfolio-cont-lg{
          img{
            box-shadow: inset 0px 0px 5px black;
          }
        }
        .portfolio-cont-sm{
          margin-bottom: 20px;
          img{
            box-shadow: inset 0px 0px 5px black;
          }
        }
        .port-text{
          h6{
            color:$font-roll;
            display: inline-block;
            margin-bottom: -1px;
          }
        }
      }
    }
    .search{
      background: $black-abg;
      border: 1px solid $line-color;
      color:$font-roll;
      padding: 5px;
      margin-bottom: 5px;
      width: 100%;
      &:focus{
        box-shadow: 0 0 5px $font-roll;
        outline: none;
      }
    }
    .pixel-button{
      background: $black-abg;
      border: 1px solid $line-color;
      padding: 5px;
      width: 100%;
      margin-bottom: 5px;
      cursor: pointer;
      color:$font-roll;

      img{
        display:inline-block;
        background:url('../images/pixel-button-carot.svg');
        width:5px;
        vertical-align: middle;
        margin: 0px 5px 1px 0px;
      }
      &:hover{
        background: $orange-abgb;
        box-shadow: inset 0px 0px 5px black;
        color: $font-color;
      }

    }
    footer{
      padding-top:5px;
      padding-left:15px;
      padding-right:15px;
      height: 30px;
      width:100%;
      max-width: 1167px;
      position: absolute;
      bottom: 0;
      background: $black-abg;
      border-top: 1px dotted $line-color;
      @media screen and (min-width: 768px) {
        max-width: 748px;
      }
      @media screen and (min-width: 992px) {
        max-width: 748px;
      }
      @media screen and (min-width: 1028px) {
        max-width: 968px;
      }
      @media screen and (min-width: 1200px) {
        max-width: 1168px;
      }
      .social-icon{
        width: 20px;
      }

    }
    .pad-top-5{padding-top:5px;}
    .pad-top-10{padding-top:10px;}
    .pad-top-15{padding-top:15px;}
    .pad-top-25{padding-top:25px;}
    .pad-top-30{padding-top:30px;}
    .pad-top-50{padding-top:50px;}
    .pad-top-60{padding-top:60px;}
    .pad-top-70{padding-top:70px;}
    .thumbnail{
      border:none;
      border-radius: 0;
      padding:1px;
    }
    .table{
      display: table;
      max-width: 1170px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    .table-row{
      display: table-row;
    }
    .table-cell{
      display: table-cell;
    }
    .social-icon{
      width: 20px;
      &:hover{
        /*box-shadow: 0px 0px 5px $font-roll;*/
      }
    }
    #wrapper, #wrapper2{
      position: absolute;
      width: 200px;
      height: 200px;
      left: 30%;
      top:300px;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
    }
    #wrapper2{
      left: 0px !important;
      top:0px !important;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -webkit-transform:translateZ(50px);
    }
    .box{
      width:17px;
      height: 200px;
      position: absolute;
      border-top:1px solid #e1e1e1;
      border-bottom:1px solid #e1e1e1;
      box-shadow: inset 0px 0px 5px $font-roll;
      background: $black-abg;
      /*background: rgba(50,205,50,.25);*/
      /*box-shadow: "0px 0px 24px 6px white";*/
      
    }
  }

}