$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
//Custom Fonts
@font-face {
  font-family: bankGothic;
  src: url('../fonts/BankGothic/bankgthl.ttf');
}
$font-stack:    bankGothic, Helvetica, sans-serif;

$font-color: #bdb6a2;
$font-roll: #DB7D26;
$line-color: #7f704d;
$orange-abg: rgba(248,155,18,.8);
$black-abg: rgba(0,0,0,.2);


body{
  color: $font-color;
  font: 100% $font-stack;
  background: url('../images/pixelRockTempBG.jpg');
  background-size: cover;
  .container{

  }
  a{
    color:$font-roll;
  }
  .container.pixel-wrapper{
    padding-left: 0px;
    padding-right: 0px;
    height: 100vh;
    background: rgba(0,0,0,.2);
    border-left: 1px solid $line-color;
    border-right: 1px solid $line-color;
    
    header{
      height: 70px;
      width: 100%;
      padding: 5px;
      margin: 0px;
      border-bottom: 1px dotted $line-color;
      
      #logo{
        padding-left: 10px;
      }
      #version{
        padding-right: 25px;
      }
    }
    nav{
      height: 30px;
      width: 100%;
      border-bottom: 1px dotted $line-color;
      background: url('../images/navBG.png');
      background-size: cover;
      .navBg {
        position:absolute;
        width:116px;
        height:17px;
        margin-top:-8px;
        margin-left: 15px;
        background: $orange-abg;
        border:1px solid $line-color;
        box-shadow: inset 0px 0px 5px black;
        z-index:-5;
      }
      ul{
        padding-top:4px;
        padding-left:12px;
        a{
          color:$font-roll;
          li{
            width: 122px;
            height: 21px;
            padding-top:5px;
            float:left;
            background: url('../images/button.svg');
            background-size: cover;
            list-style-type:none;
          }
          li:hover{
            color:$font-color;
            cursor: pointer;
          }
          li.active{
            color:$font-color;
          }
        }
      }
    }
    .bread-crumbs{
      height: 30px;
      width: 100%;
      padding: 10px 15px;
      border-bottom: 1px dotted $line-color;
      background: $black-abg;
      background-size: cover;
    }
    .pixel-container{
      background: $black-abg;
      border: 1px solid $line-color;
      height: 60vh;
    
      .pixel-cont-head{
        width: 100%;
        height: 30px;
        background: $black-abg;
        padding: 10px;
        border-bottom: 1px dotted $line-color;
        .social-icon{
          width: 20px;
        }
      }
    }
    footer{
      padding-top:5px;
      padding-left:15px;
      padding-right:15px;
      height: 30px;
      width:100%;
      max-width: 1167px;
      position: absolute;
      bottom: 0;
      background: $black-abg;
      border-top: 1px dotted $line-color;
      .social-icon{
        width: 20px;
      }

    }
    .pad-top-5{padding-top:5px;}
    .pad-top-10{padding-top:10px;}
    .pad-top-15{padding-top:15px;}
    .pad-top-25{padding-top:25px;}
    .pad-top-30{padding-top:30px;}
    .pad-top-50{padding-top:50px;}
    .pad-top-60{padding-top:60px;}
    .pad-top-70{padding-top:70px;}
    .thumbnail{
      border:none;
      border-radius: 0;
      padding:1px;
    }
    .table{
      display: table;
      max-width: 1170px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    .table-row{
      display: table-row;
    }
    .table-cell{
      display: table-cell;
    }
  }
}