body{margin: 0px;}
#container {
	position: absolute;
	width: 160px;
	height: 600px;
	border:solid;
	border-color:#58585a;
	border-width:1px;
	overflow:hidden;
	background-image: url("background.jpg");
	background-color: #e1e1e1;
	display: none;
	z-index:0;
	cursor:pointer;
}
#textHolder {
	position: absolute;	
	top:0px;	
}
#jbl_logos {
	opacity: 1;
}
#wire {
	position: absolute;	
	left: 128px;
	top: 18px;
	z-index:-1;
	opacity: 1;
}
#headPhoneHolder {
	position: absolute;	
	top: 158px;
}
.position {
	position: absolute;
	left:0px;
	top: 0px;
}
.show{
	position: absolute;
	opacity: 1;
}
.hide {
	position: absolute;
	opacity: 0;
	left:0px;
	top: 0px;
}
#black_headphone_1 {
	position: absolute;	
	left:135px;
}
#black_headphone_blur_left {
	left:-68px;
}
#wireless_holder {
  position: absolute;
	top: 15px;
  left: -130px;
}
#white_headphone {
	position: absolute;
	left:-300px;
	top:157px;
}
/*EX*/
#containerEx {
	position: absolute;
	width: 600px;
	height: 600px;
	border:solid;
	border-color:#58585a;
	border-width:1px;
	overflow:hidden;
	background: url("richMedia.jpg");
	background-color: #e1e1e1;
	display: none;
	z-index:0;
	cursor:pointer;
}
#RM_rollover{
	opacity: 0;
	position: absolute;
}
#closeBtnEx{
	position: absolute;	
	top: 0;
	right: 0;
	height: 26px;
	width: 100px;
	z-index: 10;
}
#richMedia{
	top: 42px;
	z-index: 1000;
}