body{margin:0px;}
#container {
	position: absolute;
	width: 728px;
	height: 90px;
	border:solid;
	border-color:#58585a;
	border-width:1px;
	overflow:hidden;
	background-color: #e1e1e1;
	display: none;
	z-index:0;
	cursor:pointer;
}
#textHolder {
	position: absolute;	
	top: 0px;
	left: 0px;	
}
#jbl_logos {
	opacity: 0;
	position: absolute;
}
#wire {
	position: absolute;	
	left: 728px;
	top: -15px;
	z-index:-1;
}
#headPhoneHolder {
	position: absolute;	
	top: -97px;
}
.position {
	position: absolute;
	left:0px;
	top: 0px;
}
.show{
	position: absolute;
	opacity: 1;
}
.hide {
	position: absolute;
	opacity: 0;
	left:0px;
	top: 0px;
}
#black_headphone_1 {
	position: absolute;	
	left:728px;
}
#black_headphone_blur_left {
	left:458px;
}
#black_headphone_blur_right {
	left:300px;
}
#wireless_holder {
  position: absolute;
  top: 0px;
  left: 0px;
}
#headphone_text{
	top: 0px;
}
#white_headphone {
	position: absolute;
	left:-300px;
	top:-94px;
}
#black_headphone_left{
	left: 326px;
}
#cta_bottom_rollover {
	position: absolute;
	left:800px;
}
#containerEx{
	position: absolute;
	width: 728px;
	height: 315px;
	border:solid;
	border-color:#58585a;
	border-width:1px;
	overflow:hidden;
	background: url("richMedia.jpg");
	background-color: #e1e1e1;
	display: none;
	z-index:0;
	cursor:pointer;
}
#RM_rollover{
	opacity: 0;
	position: absolute;
}
#closeBtnEx{
	position: absolute;	
	top: 0;
	right: 0;
	height: 26px;
	width: 100px;
	z-index: 10;
}
#richMedia{
	top: 40px;
	left: 232px;
	z-index: 1000;
}