@charset "UTF-8";
/* CSS Document */

#container {
	position: absolute;
	width: 298px;
	height: 248px;
	background:#d4262a;	
	border:solid;
	border-color:#000;
	border-width:1px;
	overflow:hidden;
	display: none;
}

body{
	margin: 0px;
}

#last_frame_back {
	width: 100%;
	height: 100%;
	background:#f4b926;;	
	opacity:0;
}


#click_screen {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#how {
position: absolute;
left:26px;
top:150px;
opacity:0;
}

#get {
position: absolute;
left:0px;
top:182px;
opacity:0;
}


#logo {
position: absolute;
left:54px;
top:62px;
opacity:0;
}

#frame_two {
position: absolute;
left:0px;
top:0px;
opacity:0;
z-index: 1;
}

#img01A, #img01B, #img01C {
	position: absolute;
	z-index: 1;
	left:0px;
	top:0px;
	opacity:0;
}

#frame_three, #img02A, #img02B, #img02C {
position: absolute;

left:0px;
top:187px;
z-index: 3;
}

#pre_war {
position: absolute;
left:0px;
top:0px;
background-color: #f4b926;
top: 532px;
z-index: 2;
width: 300px;
padding-left:3px;
height: 325px;
}

#PreWar_circle {
position: absolute;
left: -4px;
top: -83px;
opacity:0;
/*background-color: #f4b926; */
z-index: 3;
height:400px;
}


