body{margin:0px;}
#containerEx {
	position: absolute;
	width: 600px;
	height: 600px;
	border:solid;
	border-color:#58585a;
	border-width:1px;
	overflow:hidden;
	background: url("richMedia.jpg");
	background-color: #e1e1e1;
	display: block;
	z-index:0;
	cursor:pointer;
}
#RM_rollover{
	opacity: 0;
	position: absolute;
}
#closeBtnEx{
	position: absolute;	
	top: 0;
	right: 0;
	height: 26px;
	width: 100px;
	z-index: 10;
}
#richMedia{
	left: 0px;
	top: 42px;
	z-index: 1000;
}
.position {
	position: absolute;
	left:0px;
	top: 0px;
}
.show{
	position: absolute;
	opacity: 1;
}
.hide {
	position: absolute;
	opacity: 0;
	left:0px;
	top: 0px;
}