@charset "UTF-8";
/* CSS Document */

#container {
position: absolute;
width:728px;
height:90px;
background: url('../images/starbg.jpg');	
overflow:hidden;
cursor: pointer;
	
}

#learnMore{
	position: absolute;
	right: 4px;
	top: 62px;
	height: 20px;
	width: 110px;
	z-index: 100;
}
#learnMore a{
	font-family: NeuzeitGro;
	color:  #ffffff;
	font-size: 13px;
	font-family: 'Open Sans';
	line-height: 15.6px;
	text-align: right;
	text-shadow: 0px 1px 4px rgba(19, 36, 91, 0.59);
	text-decoration: none;
	display: block;
}
img#enterFor{
	position: absolute;
	top: 0px;
   right: 163px;
}

#prize{
	color: white;
    width: 531px;
    position: absolute;
    right: 31px;
    top: 59px;
    font-size: 22px;
}
div#tweet{
	position: absolute;
	right: 150px;
	top:13px;
}

div#wave{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 200000;
}
div#wave img{
	display: block;
}
div#logo{
	position: absolute;
	top: 5px;
	right: 6px;
}
div#heros{
	top: 0;
}
div#heros img{
	opacity: 0;
}
img#hashtag{
	top: 29px;
	right: 168px;
}
p#noPurch{
	font-size: 8px;
	position: absolute;
	top: 57px;
  left: 244px;
	color: #fff;
	display: none;
	z-index: 100;
}
div#finalFrame{
	text-align: center;
	background-color: #17669e;
	width: 728px;
	height: 90px;
	z-index: 100;
}
img#greatness{
	top: 20px;
	right: 145px;
}
img#ps4logo{
	bottom: 6px;
    left: 9px;
}
img#bundlesweeps{
	right: 8px;
	top: 8px;
}
#lrnBtn{
	top: 51px;
	position: absolute;
	right: 6px;
	display: none;
}
#enterFor, #prize, #tweet, #herosbg, #hashtag, #lrnBtn, #greatness, #ps4logo, #finalFrame, #bundlesweeps{
	opacity: 0;
}
#tweet,div#heroFrame, img#hashtag,div#finalFrame, #lrnBtn, #greatness, #ps4logo, #bundlesweeps{
	display: none;
	position: absolute;
}
#lrnBtn{
	opacity: 0;
	display: none;
	position: absolute;
	font-size: 12px;
	top: 43px;
	right: 0px;
	cursor: pointer;
}