@charset "UTF-8";
/* CSS Document */

#container {
	position: absolute;
	width: 300px;
	height: 250px;
	background:#fcae1d;	
	border:solid;
	border-color:#000;
	border-width:1px;
	overflow:hidden;
	display: none;
}

body{
	margin: 0px;
}

#building {
position: absolute;
top:0px;
left:0px;
}

#building_color, #your, #secret, #ThreeAM, #dumpling, #order, #donuts, #and, #is, #with_text, #us, #safe, #logo, #how, #order_now  {
position: absolute;
top:0px;
left:0px;
opacity:0;
}

#order_now {

	top:350px;
}

#star_1, #star_2, #star_3, #star_4, #star_5, #star_6, #star_7, #star_8, #star_9, #star_10, #star_11, #star_12, #star_13, #star_14 {
position: absolute;
top:0px;
left:0px;
opacity: 0;

}


