@charset "UTF-8";
/* CSS Document */

#container {
	position: absolute;
	width: 726px;
	height: 88px;
	background:#d4262a;	
	border:solid;
	border-color:#000;
	border-width:1px;
	overflow:hidden;
	display: none;
}

body{
	margin: 0px;
}


#click_screen {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#over {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#eight {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#million {
position: absolute;
left:0px;
top:0px;
opacity:0;
}


#over_color {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#eight_color {
position: absolute;
left:0px;
top:0px;
opacity:0;	
}

#million_color {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#people {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#people_line_left {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#inLine {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#inText {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#newText {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#york {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#city {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#nyc_color {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#and {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#we {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#help {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#you {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#avoid {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#them {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#people_one {
position: absolute;
left:0px;
top:0px;
opacity:0;

}

#people_two {
position: absolute;
left:0px;
top:0px;
opacity:0;	
}

#all {
position: absolute;
left:0px;
top:0px;
opacity:0;
	
}

#avoid_color {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#logo {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#how_new_york {
position: absolute;
left:0px;
top:0px;
opacity:0;
}

#order_now {
position: absolute;
left:0px;
top:100px;
opacity:0;
}

