<div class="col-md-12">
    <div class="row pad-top-15">
      
      <div class="col-sm-12 col-md-12">
        <div class="pixel-container">
          <div class="pixel-cont-head">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
          </div>
          <div class="pixel-cont-area">
            <div class="row">
              <div class="col-md-12">
                <div class="pixel-container">
                <div class="pixel-cont-head">
                    <div class="pull-left">Main Programming Languages/Libraries</div><div class="pull-right">Professional Profile</div>
                  </div>
                  <div class="pixel-cont-cell">{{variable}}
                    <ul>
                      <li>HTML*</li>
                      <li>XML</li>
                      <li>CSS*</li>
                      <li>SASS</li>
                      <li>Less</li>
                      <li>Javascript</li>
                      <li>Ajax</li>
                      <li>jQuery</li>
                      <li>AngularJS</li>
                      <li>Flash ActionScript*</li>
                      <li>GSAP</li>
                      <li>Three.Js</li>
                      <li>Twitter Bootstrap</li>
                      <li>Responsive</li>
                      <li>Parallax</li>
                      <li>Wordpress</li>
                      <li>Mobile</li>
                      <li>Social Media API's</li>
                    </ul>
                  </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="pixel-container">
                  <div class="pixel-cont-head">
                    <div class="pull-left">Senior Front End UX/UI Developer</div><div class="pull-right">Professional Profile</div>
                  </div>
                  <div class="pixel-cont-cell">
                    <ul>
                      <li>Experienced advisor to senior management on interactive development.</li>
                      <li>Created Interactive and Responsive sites for multiple platforms.</li>
                      <li>Solved many coding problems and demonstrated excellent spacial reasoning skills.</li>
                      <li>Proficient in current web technology and able to evolve and adapt my skills.</li>
                      <li>Experienced in creating conceptual animation, framework, and overall design.</li>
                    </ul>
                  </div>
                  <div class="pixel-cont-head">
                    <div class="pull-left">Senior Front End UX/UI Developer - Freelance, New York, NY</div><div class="pull-right">Professional Experience</div>
                  </div>
                  <div class="pixel-cont-cell">
                    <ul>
                      <li>Experienced advisor to senior management on interactive development.</li>
                      <li>Created Interactive and Responsive sites for multiple platforms.</li>
                      <li>Solved many coding problems and demonstrated excellent spacial reasoning skills.</li>
                      <li>Proficient in current web technology and able to evolve and adapt my skills.</li>
                      <li>Experienced in creating conceptual animation, framework, and overall design.</li>
                    </ul>
                  </div>
                  <div class="pixel-cont-head">
                    <div class="pull-left">Senior Front End UX/UI Developer - Freelance, New York, NY</div><div class="pull-right">Present</div>
                  </div>
                  <div class="pixel-cont-cell">
                    <ul>
                      <li>Developing &amp; managing a team to create responsive sites for different client needs.</li>
                      <li>Creating e-commerce solutions for small businesses.</li>
                      <li>Developing the framework and procedures for the different projects and team members.</li>
                      <li>Creating Social Media solutions.</li>
                      <li>Exploring different technology and packages to use for different client problems.</li>
                    </ul>
                  </div>
                  
                </div>
              </div>
              
                  


<!-- <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
        <td colspan="2"><h6 style="text-align: center">Professional Experience</h6></td>
    </tr>
        
    <tr>
      <td rowspan="2"><h4>Senior Front End UX/UI Developer <br>
          <em>Freelance, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">Present</td>
    </tr>
  </tbody>
</table> -->
<!-- <p>&bull; Developing &amp; managing a team to create responsive sites for different client needs.<br>
  &bull; Creating e-commerce solutions for small businesses.<br>
  &bull; Developing the framework and procedures for the different projects and team members.<br>
  &bull; Creating Social Media solutions.<br>
&bull; Exploring different technology and packages to use for different client problems.</p>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td rowspan="2"><h4>Senior Front End UX/UI Developer<br>
          <em>Spies &amp; Assassins, KBSP, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">2011 – 2014</td>
    </tr>
  </tbody>
</table>
<p>&bull; Developed HTML websites and social media outlets for clients such as BMW, Tecate, Justin Bieber, and Homegoods.<br>
  &bull; Developed a solution for an unorthodox web design ( http://www.bmwusa.com/m ). <br>
  &bull; Helped create a work environment that gained our company “Top 10 Agency to Work At”.<br>
  &bull; Adapted to using Github, Terminal, and packages such as Node and Grunt.<br>
  &bull; Helped with the R&amp;D lab with 3D printing and Arduino skills.<br>
</p>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td rowspan="2"><h4>Senior Front End UX/UI Developer<br>
        <em>Saatchi &amp; Saatchi, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">2009 – 2012</td>
    </tr>
  </tbody>
</table>
<p>&bull; Developed many tablet presentation in Flash on multiple platforms including Exploria platform.<br>
  &bull; Developed HTML websites and emails.<br>
  &bull; Created websites using jQuery Libraries.<br>
  &bull; Debugged complex projects from vendors.<br>
  &bull; Created rich media banners in both AS2 and AS3.<br>
  &bull; Converting Flash AS3 to AS2 and vice versa depending on the specs of the project.<br>
</p>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td rowspan="2"><h4>Front End UX/UI Developer<br>
          <em>Freelance, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">2006 – 2009</td>
    </tr>
  </tbody>
</table>
<p>&bull; Consulted with management and created Web site for Sports Illustrated (Time Warner), M&amp;M’s, Tic Tac, and Dave &amp; Busters.<br>
  &bull; Used CSS, XML, Flash, and HTML to modify The Outdoor Channel’s Web site for Omnicom.<br>
  &bull; Created an interactive CD-ROM for TV Guide (Omnicom) using Director and Flash.<br>
  &bull; Working with senior personnel at MRM McCann Erikson, contributed considerably to recruitment DVD for the United States Army.<br>
  &bull; Working with Grey Interactive, created a Flash site for Tanqueray Rangur Gin.</p>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td rowspan="2"><h4>Front End UX/UI Developer<br>
          <em>C2 Creative, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">2005-2006</td>
    </tr>
  </tbody>
</table>
<p>&bull; Assisted in troubleshooting and debugging code.<br>
  &bull; Created project plans and time lines to ensure timely project completion.<br>
  &bull; Used Flash and HTML to create the Ritz Carlton’s Web site.<br>
  &bull; Created touch screen kiosk for use in Home Depot.<br>
  &bull; Managed a team of 8 IT professionals.<br>
  &bull; Created conceptual animation, framework, and template art for Si TV and Fuel TV.<br>
  &bull; Ensured integrated site design and recommending changes to site structure and functionality for the Court TV Media Kit.</p>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td rowspan="2"><h4>Front End UX/UI Developer<br>
          <em>Sudden Industries, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">2005</td>
    </tr>
  </tbody>
</table>
<p>&bull; Created template for More Magazine using HTML, XML, CSS, and PHP.<br>
  &bull; Created Flash files and coded numerous Web sites using HTML, CSS, JavaScript, XML, and PHP.</p>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td rowspan="2"><h4>Art Director<br>
          <em>Media Bandits, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">2004-2005</td>
    </tr>
  </tbody>
</table>
<ul>
  <li>Created conceptual framework, mapping, template art, and overall Web site design.</li>
  <li>Managed team of 3 employees to bring projects in under budget and before deadline.</li>
  <li>Managed all databases related to Web site.</li>
</ul>
<hr>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
        <td colspan="2"><h6 style="text-align: center">Education</h6></td>
    </tr>
        
    <tr>
      <td rowspan="2"><h4>A.S.A., Digital Media Arts<br>
          <em>Technical Career Institutes, New York, NY</em></h4></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right">2003</td>
    </tr>
  </tbody>
</table>
&bull; Designated the Senior Tutor for students facing academic challenges in all subjects.
<hr>
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
        <td colspan="2"><h6 style="text-align: center">Professional Skills</h6></td>
    </tr>
        
    <tr>
      <td><h4>Core Programming Languages</h4></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
&bull; HTML ( all versions ), CSS/CSS3, XML, JSON, JavaScript, AJAX, ActionScript ( fluent in 1.0, 2.0, and 3.0 )
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>   
    <tr>
      <td><h4>Secondary Languages</h4></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
&bull; Python, SQL, VBScript, ASP, PHP, Objective C (Apple Applications), IIS
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>   
    <tr>
      <td><h4>Libraries &amp; Packages</h4></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
&bull; jQuery, Bootstrap, Django, Node, Grunt, Bower, AngularJS, GSAP TweenMax, Three.js( WebGL ), Word Press, Shopify.
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>   
    <tr>
      <td><h4>Programs &amp; Apps</h4></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
&bull; Terminal, SSH, Github, Photoshop, Illustrator, Dreamweaver, InDesign, Flash, Office, JIRA
<table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>   
    <tr>
      <td><h4>Other Skills</h4></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
&bull; UX/UI, Arduino ( programming and physical ), Leap Motion SDK, 3D Printing, Basic Computer Science Knowledge, Basic Mechanical Engineering Skills</div>
 -->



                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
