<div class="col-md-12">
    <div class="row pad-top-15">
      <div class="col-sm-4 col-md-3">
        <div class="pixel-container">
          <div class="pixel-cont-head">
            <div class="pull-left">Select a Project</div><div class="pull-right">Search</div>
          </div>
          <div class="pixel-cont-area">
            <input type="text" name="search" placeholder="Search Projects" maxlength="40" class="search" ng-model="query"/>
            <div ng-repeat="project in portfolio | filter:query" class="pixel-button" data-link="{{ project.link }}"><img src="../images/pixel-button-carot.svg" alt="btn carot">{{ project.name }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-9">
        <div class="pixel-container">
          <div class="pixel-cont-head">
            <div class="pull-left">BMW M 40th Anniversary</div>
            <div class="pull-right">Search Projects
            </div>
          </div>
          <div class="pixel-cont-area">
            <div class="row">
              <div class="col-sm-8">
                <div class="pixel-container portfolio-cont-lg"><img src="{{ project.img.image[0] }}" class="img-responsive" alt=""></div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="pixel-container portfolio-cont-sm"><img src="{{ project.img.image[1] }}" class="img-responsive" alt=""></div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="pixel-container portfolio-cont-sm"><img src="{{ project.img.image[2] }}" class="img-responsive" alt=""></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="port-text">
                  <h6>Client:</h6> BMW  
                </div>
              </div>
              <div class="col-sm-6">
                <div class="port-text text-right">
                  <h6>Date Launched: </h6> 04-2013  
                </div>
              </div>
              <div class="col-sm-12">
                <div class="port-text">
                  <h6>Technology:</h6>
                    HTML, CSS, Javascript, Jquery, Ajax, Greensock
                </div>
                <div class="port-text">
                  <h6>Description:</h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                   
                </div>
              </div>
            </div>
            <div class="row pad-top-10">
              <div class="col-sm-3">
                <div class="pixel-button" id="launchSite" data-link="http://www.bmwusa.com/m"><img src="../images/pixel-button-carot.svg" alt="">Launch Project</div>
              </div>
              <div class="col-sm-3">
                <div class="pixel-button" id="launchGit" data-link="https://github.com/noximus/bmw-explore-m40"><img src="../images/pixel-button-carot.svg" alt="" />View on GitHub</div>
              </div>
              
              <div class="col-sm-3 pull-right text-right">Share on
                <a href="https://twitter.com/pixelrockstudio" target="_blank"><img class="social-icon" src="../images/twitter.svg" alt="Follow me on Twitter @PixelRockStudio"></a> 
                <a href="https://www.facebook.com/pixelrockstudios" target="_blank"><img class="social-icon" src="../images/facebook-square.svg" alt="Follow me on Facebook"></a> 
                <a href="https://www.linkedin.com/pub/henry-richardson/26/9aa/713" target="_blank"><img class="social-icon" src="../images/linkedin.svg" alt="Follow me on Linkedin"></a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
</div>
